# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\USS\UNISO\5 SEMESTRE\LINGUAGEM DE PROGRAMACAO\AULA 2 - 02SET - PROJETO 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
